body{
	font-family: 'Ubuntu', sans-serif;
	background-repeat: repeat;
	background-image: url("img/black background.jpeg");
	background-size: cover;
	background-attachment: fixed;
}
.titre{
	font-size: 40px;
	color: white;
	text-decoration: underline; 
	top: 120px;
	text-align: center;
}
.back{
	color: white;
	font-size: 20px;
	left: 85px;
	z-index: 32;
	position: absolute;
}
.back:hover{
	color: grey;
	font-size: 21px;
	transition: 0.2s;
}
.txt{
	text-align: center;
	font-size: 20px;
	color: white;
	justify-content: space-between;
	position: sticky;
}
.email{
	justify-content: space-between;
	text-align: center;
}
.login{
	padding: 100px;
	background-color: rgba(32,32,32,0.7);
	color: black;
	margin-bottom: 100px;
	margin: 60px;
}
.input{
	font-size: 20px;
	background-color: rgb(255,255,255);
	color: rgb(12,12,12);
	border: 5px solid;
	border-color: grey;
	padding-top: 5px;
}
.error{
	color: yellow;
	text-align: center;
	bottom: 199px;
}
.button-confirm{
	color: black;
	font-size: 20px;
}
.confirm{
	text-align: center;
	margin-top: 25px;
	margin-left: 175px;
}