body{
	font-family: 'Ubuntu', sans-serif;
	background-repeat: repeat;
	background-image: url("img/black background.jpeg");
	background-size: cover;
	background-attachment: fixed;
}
/* Début de la navigation */

.header{
	background-color: black;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	justify-content: space-between;
}
.onglets a{
	color: white;
	font-size: 20px;
	text-decoration-line: none;
	transition: 0.2s;
}
.onglets a:hover{
	color: grey;
}
.onglets{
	margin-top: 15px;
	margin-left: 25px;
}
.buttons button{
	padding: 15px;
	font-size: 15px;
	color: white;
	background-color: #000F44;
	border: none;
	transition: 0.2s;
}
.buttons button:hover{
	background-color: #001C7D;
	padding: 10px;
}
/* Fin de la navigation */

.title h1{
	top: 300px;
	text-align: left;
	margin-left: 20px;
	color: white;
	text-decoration: underline;
}
.BFD img{
	height: 200px;
	width: 200px;
	margin-left: 30px;
	position: absolute;
}
.BFD h2{
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-left: 250px;
}
.BFD p{
	color: white;
	text-align: left;
	position: sticky;
	margin-left: 250px;
}
.BFD .spotify{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 250px;
	border: 5px solid;
	border-color: #1F1F1F;
	background-color: black;
}
.GD{
	margin-top: 150px;
}
.GD img{
	height: 200px;
	width: 200px;
	margin-left: 30px;
	position: absolute;
}
.GD h2{
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-left: 250px;
}
.GD p{
	color: white;
	text-align: left;
	position: sticky;
	margin-left: 250px;
}
.GD .spotify{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 250px;
	border: 5px solid;
	border-color: #1F1F1F;
	background-color: black;
}
.BC{
	margin-top: 150px;
}
.BC img{
	height: 200px;
	width: 200px;
	margin-left: 30px;
	position: absolute;
}
.BC h2{
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-left: 250px;
}
.BC p{
	color: white;
	text-align: left;
	position: sticky;
	margin-left: 250px;
}
.BC .spotify{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 250px;
	border: 5px solid;
	border-color: #1F1F1F;
	background-color: black;
}
.DUSTY{
	margin-top: 150px;
}
.DUSTY img{
	height: 200px;
	width: 200px;
	margin-left: 30px;
	position: absolute;
}
.DUSTY h2{
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-left: 250px;
}
.DUSTY p{
	color: white;
	text-align: left;
	position: sticky;
	margin-left: 250px;
}
.DUSTY .spotify{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 250px;
	border: 5px solid;
	border-color: #1F1F1F;
	background-color: black;
}
.DS{
	margin-top: 150px;
}
.DS img{
	height: 200px;
	width: 200px;
	margin-left: 30px;
	position: absolute;
}
.DS h2{
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-left: 250px;
}
.DS p{
	color: white;
	text-align: left;
	position: sticky;
	margin-left: 250px;
}
.DS .spotify{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 250px;
	border: 5px solid;
	border-color: #1F1F1F;
	background-color: black;
}

/* Début du pied de page */

.colonnes{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.colonne p{
	cursor: pointer;
}
.colonne p:hover{
	color: grey;
	transition: 0.2s;
}
footer{
	background-color: #1a1a1a;	
	color: white;
	padding: 35px 100px;
	margin-top: 327px;
	position: sticky;
}